body{
    background-color: aquamarine;
}
h2{
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: rgba(4, 2, 11, 0.801);
    font-size: 30px;
}
body{
    background-color: #cfa0dd;
   
}
button{
    font-size: 25px;
    background-color: aquamarine;
    display: flex;
    border-width:4px;
    border-color: blanchedalmond;
    
}
.name{
    background-color:beige;
}